$black: #000000;
$white: #fff;
$mobileWidth: 768px;
.header {
  @media (min-width: $mobileWidth) {
    padding: 0 134px;
  }
  display: flex;
  #mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
    margin-right: 11px;
    @media (min-width: $mobileWidth) {
      display: none;
    }
    span {
      display: block;
      width: 16px;
      height: 2px;
      background-color: $black;
      border-radius: 5px;
      &:not(:last-child) {
        margin-bottom: 4px;
      }
      &:last-child {
        width: 50%;
      }
    }
  }
  #logo {
    h1 {
      font-family: work-sans;
      font-size: 16px;
      font-weight: 600;
      @media (min-width: $mobileWidth) {
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
  .menu-links {
    position: absolute;
    top: 0;
    left: -100%;
    min-height: 100vh;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    a {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      font-family: work-sans;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      color: $white;
      position: relative;
      @media (min-width: $mobileWidth) {
        &:not(:last-child) {
          margin-right: 82px;
        }
        &::before {
          content: "";
          width: 0%;
          height: 4px;
          position: absolute;
          bottom: -6px;
          left: 0;
          background-color: #404040;
        }
        &:hover {
          color: #000000;
          &::before {
            width: 100%;
            background-color: #000000;
          }
        }
      }
    }
    span {
      color: red;
      cursor: pointer;
      font-weight: 700;
    }
  }
  .social {
    display: none;
    //  display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}
.open {
  left: 0 !important;
}
