@use "./colors";
.header{
	display: flex;
	#mobile-menu{
		display: flex;
	    flex-direction: column;
	    align-items: flex-start;
	    justify-content: center;
	    cursor: pointer;
	    margin-right: 11px;
	    span {
	      display: block;
	      width: 16px;
	      height: 2px;
	      background-color: colors.$blackColor;
	      border-radius: 5px;
	      &:not(:last-child) {
	        margin-bottom: 4px;
	      }
	      &:last-child {
	        width: 50%;
	      }
	    }
	}
	#logo {
    	h1 {
	      font-family: work-sans;
	      font-size: 16px;
	      font-weight: 600;
	      color: colors.$blackColor;
	      }
	}
	.menu-links{
		position: absolute;
	    top: 0;
	    left: -100%;
	    min-height: 100vh;
	    background-color: colors.$whiteColor;
	    display: flex;
	    flex-direction: column;
	    padding: 20px 60px;
	    a {
      &:not(:last-child) {
        margin-bottom: 20px;
        font-family: work-sans;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        color: colors.$mobileNavbarLinksColor;
        position: relative;
        }
        }
	}
}

.open{
	left : 0 !important;
}