@forward "header";
@forward "main";
@forward "blackbar";
@forward "case";
@font-face {
  font-family: "work-sans";
  src: url("../assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
  font-weight: 100 900;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 0.3s;
  margin:0;
  text-decoration:none;
  padding:0;
}

html,
body {
     font-family:"work-sans";
     // font-size:10px;
}
img {
  max-width: 100%;
}
