.header {
  display: flex;
  padding: 20px 24px;
  align-items: center;
}
@media (min-width: 918px) {
  .header {
    justify-content: space-between;
    padding: 20px 160px;
  }
}
.header #mobile-menu {
  cursor: pointer;
  margin-right: 16px;
  position: relative;
  z-index: 10;
}
@media (min-width: 918px) {
  .header #mobile-menu {
    display: none;
  }
}
.header #mobile-menu span {
  height: 3px;
  border-radius: 10px;
  width: 24px;
  background: #000;
  display: block;
}
.header #mobile-menu span:not(:last-child) {
  margin-bottom: 4px;
}
.header #mobile-menu span:last-child {
  width: 50%;
}
.header #logo h1 {
  font-weight: 600;
  font-size: 16px;
}
@media (min-width: 918px) {
  .header #logo h1 {
    font-size: 24px;
    font-weight: 700;
  }
}
.header .menu-links {
  position: absolute;
  top: 0;
  left: -100%;
  background: #11101D;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 100%;
}
@media (min-width: 918px) {
  .header .menu-links {
    position: static;
    background: none;
    height: inherit;
    display: block;
    padding: 0;
    width: inherit;
  }
}
.header .menu-links a {
  color: #B0AFB4;
  font-size: 1.2rem;
  padding: 15px;
}
@media (min-width: 918px) {
  .header .menu-links a {
    color: #000;
    position: relative;
    padding: 0;
  }
  .header .menu-links a:not(:last-child) {
    margin-right: 80px;
  }
  .header .menu-links a::before {
    content: "";
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 0px;
    background: #000;
  }
  .header .menu-links a:hover {
    font-weight: 600;
  }
  .header .menu-links a:hover::before {
    height: 5px;
  }
}
.header .content-icons {
  display: none;
}
@media (min-width: 918px) {
  .header .content-icons {
    display: flex;
    align-items: center;
  }
  .header .content-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .content-icons a:not(:last-child) {
    margin-right: 40px;
  }
}

.open-close {
  left: 0% !important;
}

.style-menu span {
  background: #B0AFB4 !important;
}

main {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 25px;
  background: #0084ff;
}
@media (min-width: 678px) {
  main {
    padding: 150px;
  }
}
main h2 {
  font-size: 48px;
}
@media (min-width: 678px) {
  main h2 {
    font-size: 64px;
  }
}
main p {
  line-height: 28px;
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 678px) {
  main p {
    font-size: 20px;
  }
}
main .btns {
  display: flex;
  flex-direction: column;
}
@media (min-width: 678px) {
  main .btns {
    flex-direction: row;
    justify-content: center;
  }
}
main .btns button {
  border: none;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
}
@media (min-width: 678px) {
  main .btns button {
    padding-left: 40px;
    padding-right: 40px;
  }
}
main .btns .btn-work {
  background: #000;
  color: #fff;
}
@media (min-width: 678px) {
  main .btns .btn-work {
    margin-right: 40px;
  }
}
main .btns .btn-about {
  border: 2px solid #000;
  background: none;
}

.black-bar {
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
}
@media (min-width: 918px) {
  .black-bar {
    flex-direction: row;
    gap: 64px;
  }
}
.black-bar h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
@media (min-width: 918px) {
  .black-bar h3 {
    font-size: 18px;
    font-weight: 700;
  }
}
.black-bar .icons {
  display: flex;
  align-items: center;
}
.black-bar .icons a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.black-bar .icons a:not(:last-child) {
  margin-right: 40px;
}
@media (min-width: 918px) {
  .black-bar .icons a:not(:last-child) {
    margin-right: 80px;
  }
}

.case-study {
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
}
@media (min-width: 918px) {
  .case-study {
    padding: 40px 20rem;
  }
}
.case-study h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}
@media (min-width: 918px) {
  .case-study h4 {
    font-size: 32px;
  }
}
@media (min-width: 918px) {
  .case-study .cards {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
}
.case-study .cards .card {
  flex: 1;
  display: grid;
  place-items: center;
}
.case-study .cards .card:not(:last-child) {
  margin-bottom: 20px;
}
.case-study .cards .card img {
  width: 100%;
  margin-bottom: 16px;
}
.case-study .cards .card h5 {
  text-align: left;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (min-width: 918px) {
  .case-study .cards .card h5 {
    font-size: 24px;
  }
}
.case-study .cards .card p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

@font-face {
  font-family: "work-sans";
  src: url("../assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
  font-weight: 100 900;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 0.3s;
  margin: 0;
  text-decoration: none;
  padding: 0;
}

html,
body {
  font-family: "work-sans";
}

img {
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
